{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>FastER</title>
  </head>
  <body>
    <div class="Container">
      <div class="Menu">
        <a href="{% url 'accounts:menu' %}"
          ><img src="{% static 'images/menu.svg' %}" id="menu"
        /></a>
      </div>
      <main>
        <div class="Logo">
          <img src="{% static 'images/logo.svg' %}" id="logo" />
        </div>
        <div class="Title">
          지금 가장 빨리 갈 수 있는<br />병원을 찾아보세요
        </div>
        <div class="Character">
          <img src="{% static 'images/character.png' %}" id="character" />
        </div>
        <div class="Btn1" id="btn1">
          <a href="{% url 'direction:map_emr_view'%}">바로 찾기</a>
        </div>
        <div class="Btn2" id="btn2">
          <a href="{% url 'accounts:symptom_search'%}"
            >증상 입력 후 병원 찾기</a
          >
        </div>
      </main>
      <div class="SubText">
        <div class="SearchText1">
          <img src="{% static 'images/searchText1.svg' %}" id="searchText1" />
          <a href="{% url 'direction:map_view'%}"> 지도에서 찾아보기</a>
        </div>
        <div class="SearchText2">
          <img src=".{% static 'images/searchText2.svg' %}" id="searchText2" />
          <a href="{% url 'hospital:hos_list_view'%}"> 병원 리스트 보기 </a>
        </div>
      </div>
    </div>
    <script src="{% static 'accounts/js/home.js' %}s"></script>
  </body>
</html>
