{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>FastER</title>
  </head>
  <body>
    <div class="Container">
      <div class="Menu">
        <a href="{% url 'accounts:menu'%}"
          ><img src="{% static 'images/menu.svg' %}" id="menu" />
        </a>
      </div>
      <div class="Logo">
        <img src="{% static 'images/logo.svg' %}" id="logo" />
      </div>
      <div class="Title">로그인</div>

      <form method="POST" class="LoginForm">
        {% csrf_token %}

        <div class="LoginBox">
          <div class="LoginTitle">이메일</div>
          {{ form.username }} {% if form.username.errors %}
          <div class="Error-Message" id="emailError">
            {{ form.username.errors.0 }}
          </div>
          {% endif %}
        </div>

        <div class="LoginBox">
          <div class="LoginTitle">비밀번호</div>
          {{ form.password }} {% if form.password.errors %}
          <img
            src="../images/eye-off.svg"
            class="togglePw"
            id="eyeOff"
            alt="비밀번호 보기"
          />
          <img
            src="../images/eye-on.svg"
            class="togglePw"
            id="eyeOn"
            alt="비밀번호 보기"
          />
          <div class="Error-Message" id="pwError">
            {{ form.password.errors.0 }}
          </div>
          {% endif %}
        </div>

        <div class="SubText">
          <div class="SubText1">
            <input type="checkbox" id="check1" class="check-hidden" />
            <label for="check1" class="check-label">자동로그인</label>
          </div>
          <div class="SubText2">
            아이디 찾기
            <img
              src="{% static 'images/subLoginLine.svg' %}"
              id="subLoginLine"
            />
            비밀번호 찾기
          </div>
        </div>

        <button type="submit" class="Btn1">로그인</button>
      </form>

      <div class="Btn2" id="btn2">회원가입</div>

      <div class="SnsLogin">
        <div class="SnsTitle">SNS 계정 로그인</div>
        <div class="SnsImage">
          <img src="{% static 'images/google.svg' %}" class="snsImage" />
          <img src="{% static 'images/kakao.svg' %}" class="snsImage" />
          <img src="{% static 'images/naver.svg' %}" class="snsImage" />
        </div>
      </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
