{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도 서비스</title>
    <link rel="stylesheet" href="{% static 'direction/css/map.css' %}" />
  </head>
  <body>
    <!--<script
      id="hospital-data"
      type="application/json"
      data-json="{{ hospitals_json }}"
    ></script>

    <script>
      let hospitalData = [];

      try {
        const raw = document.getElementById("hospital-data").dataset.json;
        if (raw && raw.trim()) {
          hospitalData = JSON.parse(raw);
          console.log("✅ 병원 데이터 파싱 성공", hospitalData);
        } else {
          console.warn("⚠ 병원 데이터 비어 있음");
        }
      } catch (e) {
        console.error("❌ 병원 데이터 JSON 파싱 실패:", e);
      }
    </script>-->
    <script>
      //메뉴 페이지 이동
      document.getElementById("menu").addEventListener("click", () => {
        location.href = "/accounts/menu/";
      });

      //홈 이동
      document.getElementById("logo").addEventListener("click", () => {
        location.href = "/accounts/home/";
      });
    </script>

    <main class="map-container">
      <header>
        <svg
          class="menu"
          id="menu"
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="15"
          viewBox="0 0 21 15"
          fill="none"
        >
          <path
            d="M1.31641 7.10254H19.3164"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1.31641 1.10254H19.3164"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1.31641 13.1025H19.3164"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <svg
          class="logo"
          xmlns="http://www.w3.org/2000/svg"
          width="79"
          height="16"
          viewBox="0 0 79 16"
          fill="none"
        >
          <path
            d="M11.5469 2.71582H5.53516L4.92285 6.29102H10.9014L10.4141 8.97754H4.46387L3.47949 14.7324H0.0488281L2.56348 0.0302734H2.70801V0.0292969H12.0342L11.5469 2.71582Z"
            fill="#FF7200"
          />
          <path
            d="M50.7969 2.71582H44.8125L44.2441 6.03809H49.3125L48.8799 8.72461H43.7852L43.2168 12.0459H49.3135L48.8262 14.7324H39.3262L41.8408 0.0302734H41.958V0.0292969H51.2842L50.7969 2.71582Z"
            fill="#FF7200"
          />
          <path
            d="M68.4863 13.3603L70.6483 1.91065L74.8785 1.91065L72.7165 13.3604L68.4863 13.3603Z"
            fill="#FF7200"
          />
          <path
            d="M77.1318 9.625L65.249 9.625L66.2344 5.64509L78.1172 5.6451L77.1318 9.625Z"
            fill="#FF7200"
          />
          <path
            d="M11.7059 7.11716C12.8067 2.78012 18.0168 2.9292 19.8651 4.11912C21.5011 5.17275 21.15 6.86077 21.0467 7.77048L19.8651 14.7383H17.0907L17.2801 13.539C13.788 16.3901 10.7501 14.7409 10.4246 13.2099C9.39685 8.36882 16.275 7.79729 17.3592 7.91208C18.2265 8.0039 18.2671 7.35361 18.2489 7.11716C18.219 6.7302 17.8406 5.94107 16.5653 5.87986C15.2901 5.81877 14.8093 6.67923 14.7284 7.11716H11.7059ZM17.6912 9.72751C16.81 9.80015 15.0483 9.89254 13.993 10.751C13.1021 11.4759 13.1604 13.1528 15.2713 12.6113C16.8431 12.2081 17.6186 10.7104 17.6912 9.72751Z"
            fill="#FF7200"
          />
          <path
            d="M31.8457 6.99108H29.0244C28.5371 5.61811 27.4278 5.54972 26.2569 5.84246C25.0859 6.1352 24.9459 8.07775 27.8396 8.24187C31.2461 8.43507 31.3905 10.4988 31.2873 11.2728C31.2245 11.7441 30.5011 15.2809 25.6177 15.1213C21.7109 14.9935 21.1914 12.6057 21.4355 11.4791H24.3096C24.8818 13.7412 28.6024 13.06 28.1143 11.4791C27.7279 10.228 26.8121 10.5741 24.6316 10.228C22.8689 9.94812 21.7599 7.57468 23.1564 5.48746C24.6967 3.18535 27.3206 3.14519 29.5724 3.71419C31.9715 4.32043 31.7924 6.06407 31.8457 6.99108Z"
            fill="#FF7200"
          />
          <path
            d="M37.6768 3.60547H39.834L39.4756 6.29199H37.1904L36.1338 12.125L36.1162 12.124V12.127C35.9632 12.9725 37.7593 12.4941 38.1875 12.4658L37.835 14.7129C37.4824 14.8933 36.3546 15.146 34.8379 14.8779C33.0914 14.5689 33.0519 12.8799 33.2129 12.0508C33.2148 12.0501 33.2169 12.0486 33.2188 12.0479L34.1289 6.29199H32.6172L32.9756 3.60547H34.5547L34.9502 1.10352H38.1299L37.6768 3.60547Z"
            fill="#FF7200"
          />
          <path
            d="M59.2812 0.0292969C61.8561 0.0293537 63.9442 2.1166 63.9443 4.69141C63.9443 7.10167 62.1144 9.0843 59.7686 9.32812L61.8066 14.7314H58.376L56.3486 9.35449H54.4775L53.5576 14.7314H50.127L52.6416 0.0302734L52.7949 0.0292969H59.2812ZM54.9541 6.28809H58.6846C59.59 6.28781 60.3242 5.55299 60.3242 4.64746C60.324 3.74205 59.59 3.00809 58.6846 3.00781H55.5312L54.9541 6.28809Z"
            fill="#FF7200"
          />
        </svg>
      </header>
      <!-- 검색 입력창 -->
      <section>
        <div class="map-overlay">
          <input
            id="keyword"
            type="text"
            placeholder="병원 이름, 주소, 진료과 검색"
            class="search-input"
          />
          <svg
            class="voice"
            xmlns="http://www.w3.org/2000/svg"
            width="17"
            height="22"
            viewBox="0 0 17 22"
            fill="none"
          >
            <path
              d="M11.8578 4.7873C11.8578 2.98418 10.3961 1.52246 8.59297 1.52246C6.78985 1.52246 5.32812 2.98418 5.32812 4.7873V10.8506C5.32812 12.6537 6.78985 14.1154 8.59297 14.1154C10.3961 14.1154 11.8578 12.6537 11.8578 10.8506V4.7873Z"
              stroke="#8C8C8C"
              stroke-width="1.86562"
              stroke-linejoin="round"
            />
            <path
              d="M1.5957 10.3848C1.5957 14.2485 4.72809 17.3809 8.5918 17.3809M8.5918 17.3809C12.4555 17.3809 15.5879 14.2485 15.5879 10.3848M8.5918 17.3809V20.1793"
              stroke="#8C8C8C"
              stroke-width="1.86562"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <ul id="placesList" class="places-list"></ul>
      </section>
      <!-- 필터 버튼 영역 -->
      <section id="category" class="filter-container">
        <button id="night-btn" data-order="3" class="filter-btn">
          야간진료
        </button>
        <button id="ing-btn" data-order="3" class="filter-btn">진료중</button>
        <button id="emr-btn" data-order="3" class="filter-btn">응급실</button>
        <button data-order="3" class="filter-btn">소화기 내과</button>
        <!-- 필요한 만큼 계속 추가 가능 -->
      </section>
      <!-- 병원 정보 영역-->
      <section id="info-container" class="info-container">
        <button class="info-btn"></button>
        <div class="hsp-container">
          <div class="hsp-info">
            <div class="hsp-info-text">
              <div class="hsp-text">
                <div class="hsp-text-btn-box">
                  <h1 id="hsp-title" class="hsp-title">고려대학교 안암병원</h1>
                  <button id="type-btn" class="type-btn">
                    소화기 내과
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M0.720703 1.57519L4.49512 5.34961L8.26953 1.5752"
                        stroke="#FF9901"
                        stroke-width="1.25814"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <div class="drop-down-box">
                      <div class="drop-down">내과</div>
                      <div class="drop-down">가정의학과</div>
                      <div class="drop-down">응급의학과</div>
                    </div>
                  </button>
                </div>
                <p id="hsp-location" class="hsp-location">
                  서울 성북구 고려대로 73
                </p>
              </div>
              <img id="hsp-img" src="/media/hospital_images/고려대병원.jpeg" />
            </div>

            <div class="hsp-info-call">
              <h1 id="call-num" class="call-num">1577-0083</h1>
              <button class="call-btn">전화걸기</button>
            </div>
          </div>

          <div>
            <div class="info-summary">
              <div class="info-item">
                <p class="info-label">실시간 병상정보</p>
                <p id="info-value-wait" class="info-value wait">
                  5병상<strong id="wait-num">여유</strong>
                </p>
              </div>
              <div class="info-item">
                <p class="info-label">교통 혼잡도</p>
                <p id="info-value traffic" class="info-value traffic">복잡</p>
              </div>
              <div class="info-item">
                <p class="info-label">운영시간</p>
                <p id="info-value-time" class="info-value time">8:30~17:30</p>
              </div>
            </div>
          </div>

          <div class="load-info">
            <button class="load-btn" data-lat="" data-lng="" data-title="">
              길찾기
            </button>
            <div class="load-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="23"
                viewBox="0 0 23 23"
                fill="none"
              >
                <path
                  d="M11.6465 21.3047C17.1693 21.3047 21.6465 16.8275 21.6465 11.3047C21.6465 5.78184 17.1693 1.30469 11.6465 1.30469C6.12364 1.30469 1.64648 5.78184 1.64648 11.3047C1.64648 16.8275 6.12364 21.3047 11.6465 21.3047Z"
                  stroke="#D5D5D5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.6465 7.30469V11.3047"
                  stroke="#D5D5D5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.6465 15.3047H11.6565"
                  stroke="#D5D5D5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                id="star-btn"
                class="star-btn"
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
              >
                <path
                  d="M11.334 1.79492L14.424 8.05492L21.334 9.06492L16.334 13.9349L17.514 20.8149L11.334 17.5649L5.15398 20.8149L6.33398 13.9349L1.33398 9.06492L8.24398 8.05492L11.334 1.79492Z"
                  stroke="#D5D5D5"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </section>
      <!-- 지도 표시 영역 -->
      <section id="map" class="map"></section>
    </main>

    <!-- 카카오 지도 SDK -->
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c6da30244de7da15dcbc0f412b90d075&libraries=services,geometry"
    ></script>

    <!-- JS 코드 분리 -->
    <script src="{% static 'direction/js/dropDown.js' %}"></script>
    <script
      type="module"
      src="{% static 'direction/js/keywordSearch.js' %}"
    ></script>
    <script src="{% static 'direction/js/locationLoad.js' %}"></script>
    <script
      type="module"
      src="{% static 'direction/js/filterSearch.js' %}"
    ></script>
  </body>
</html>
